<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-firebase-native"
        version="1.0.0">

    <name>cordova-plugin-firebase-native</name>

    <preference name="FB_APP_ID" />
    <preference name="FB_APP_NAME" />

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/firebaseNative.js" target="js/firebaseNative.js"/>

    <js-module src="www/firebaseNative.js" name="firebaseNative">
        <merges target="cordova.plugins.firebase.native" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebaseDatabase">
                <param name="android-package" value="com.alexnu.firebasenative.FirebaseDatabasePlugin"/>
                <param name="onload" value="true" />
            </feature>
            <feature name="FirebaseAuth">
                <param name="android-package" value="com.alexnu.firebasenative.FirebaseAuthPlugin"/>
                <param name="onload" value="true" />
            </feature>
            <feature name="FirebaseGoogleAuth">
                <param name="android-package" value="com.alexnu.firebasenative.FirebaseGoogleAuthPlugin"/>
            </feature>
            <feature name="FirebaseFacebookAuth">
                <param name="android-package" value="com.alexnu.firebasenative.FirebaseFacebookAuthPlugin"/>
            </feature>
            <feature name="FirebaseStorage">
                <param name="android-package" value="com.alexnu.firebasenative.FirebaseStoragePlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

        <framework src="com.google.firebase:firebase-core:16.0.9" />
        <framework src="com.google.firebase:firebase-auth:17.0.0" />
        <framework src="com.google.firebase:firebase-database:17.0.0" />
        <framework src="com.google.firebase:firebase-storage:17.0.0" />
        <framework src="com.google.android.gms:play-services-auth:16.0.1" />
        <framework src="com.facebook.android:facebook-login:4.42.0"/>
        <framework src="com.google.code.gson:gson:2+"/>

        <source-file src="src/android/database/FirebaseDatabasePlugin.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/database/DatabaseReadListener.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/database/DatabaseWriteListener.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/auth/AuthStatusListener.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/auth/AuthTokenListener.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/auth/AuthSignInListener.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/auth/FirebaseAuthPlugin.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/auth/FirebaseGoogleAuthPlugin.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/auth/FirebaseFacebookAuthPlugin.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/auth/ProfileMapper.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/storage/FirebaseStoragePlugin.java" target-dir="src/com/alexnu/firebasenative/"/>

        <source-file src="src/android/auth/facebookapp.xml" target-dir="res/values" />
        <!-- Used for cordova-android 6 -->
        <config-file target="res/values/facebookapp.xml" parent="/*">
            <string name="fb_app_id">$FB_APP_ID</string>
            <string name="fb_app_name">$FB_APP_NAME</string>
        </config-file>
        <!-- Used for cordova-android 7 -->
        <config-file target="app/src/main/res/values/facebookapp.xml" parent="/*">
            <string name="fb_app_id">$FB_APP_ID</string>
            <string name="fb_app_name">$FB_APP_NAME</string>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/fb_app_id"/>
            <meta-data android:name="com.facebook.sdk.ApplicationName" android:value="@string/fb_app_name" />
            <activity android:name="com.facebook.FacebookActivity"
                      android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                      android:label="@string/fb_app_name" />
        </config-file>

    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FirebaseDatabase">
                <param name="ios-package" value="FirebaseDatabasePlugin" />
                <param name="onload" value="true" />
            </feature>
            <feature name="FirebaseAuth">
                <param name="ios-package" value="FirebaseAuthPlugin" />
                <param name="onload" value="true" />
            </feature>
            <feature name="FirebaseGoogleAuth">
                <param name="ios-package" value="FirebaseAuthGooglePlugin" />
            </feature>
            <feature name="FirebaseFacebookAuth">
                <param name="ios-package" value="FirebaseFacebookAuthPlugin" />
            </feature>
            <feature name="FirebaseStorage">
                <param name="ios-package" value="FirebaseStoragePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>fb$FB_APP_ID</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>fbapi</string>
                <string>fb-messenger-api</string>
                <string>fbauth2</string>
                <string>fbshareextension</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="FacebookAppID">
            <string>$FB_APP_ID</string>
        </config-file>

        <config-file target="*-Info.plist" parent="FacebookDisplayName">
            <string>$FB_APP_NAME</string>
        </config-file>

        <header-file src="src/ios/database/FirebaseDatabasePlugin.h" />
        <source-file src="src/ios/database/FirebaseDatabasePlugin.m" />
        <header-file src="src/ios/auth/FirebaseAuthPlugin.h" />
        <source-file src="src/ios/auth/FirebaseAuthPlugin.m" />
        <header-file src="src/ios/auth/FirebaseAuthGooglePlugin.h" />
        <source-file src="src/ios/auth/FirebaseAuthGooglePlugin.m" />
        <header-file src="src/ios/auth/FirebaseFacebookAuthPlugin.h" />
        <source-file src="src/ios/auth/FirebaseFacebookAuthPlugin.m" />
        <header-file src="src/ios/auth/ProfileMapper.h" />
        <source-file src="src/ios/auth/ProfileMapper.m" />
        <header-file src="src/ios/storage/FirebaseStoragePlugin.h" />
        <source-file src="src/ios/storage/FirebaseStoragePlugin.m" />

        <framework src="Firebase/Core" type="podspec" spec="~> 6.0.0"/>
        <framework src="Firebase/Auth" type="podspec" spec="~> 6.0.0"/>
        <framework src="Firebase/Database" type="podspec" spec="~> 6.0.0"/>
        <framework src="Firebase/Storage" type="podspec" spec="~> 6.0.0"/>
        <framework src="GoogleSignIn" type="podspec" spec="~> 4.4"/>
        <framework src="FBSDKLoginKit" type="podspec" spec="~> 5.0.0"/>
    </platform>

</plugin>
