<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-firebase-native"
        version="1.0.0">

    <name>cordova-plugin-firebase-native</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/firebaseNative.js" target="js/firebaseNative.js"/>

    <js-module src="www/firebaseNative.js" name="firebaseNative">
        <merges target="cordova.plugins.firebase.native" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebaseDatabase">
                <param name="android-package" value="com.alexnu.firebasenative.FirebaseDatabasePlugin"/>
            </feature>
            <feature name="FirebaseAuth">
                <param name="android-package" value="com.alexnu.firebasenative.FirebaseAuthPlugin"/>
            </feature>
            <feature name="FirebaseGoogleAuth">
                <param name="android-package" value="com.alexnu.firebasenative.FirebaseGoogleAuthPlugin"/>
            </feature>
        </config-file>

        <dependency id="cordova-support-google-services" version="~1.2.0"/>

        <framework src="com.google.firebase:firebase-core:16.0.7" />
        <framework src="com.google.firebase:firebase-auth:16.1.0" />
        <framework src="com.google.firebase:firebase-database:16.1.0" />
        <framework src="com.google.android.gms:play-services-auth:16.0.1" />
        <framework src="com.google.code.gson:gson:2+"/>

        <source-file src="src/android/com/alexnu/firebasenative/FirebaseDatabasePlugin.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/com/alexnu/firebasenative/AuthSignInListener.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/com/alexnu/firebasenative/AuthStatusListener.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/com/alexnu/firebasenative/DatabaseReadListener.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/com/alexnu/firebasenative/DatabaseWriteListener.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/com/alexnu/firebasenative/AuthTokenListener.java" target-dir="src/com/alexnu/firebasenative/"/>

        <source-file src="src/android/com/alexnu/firebasenative/FirebaseAuthPlugin.java" target-dir="src/com/alexnu/firebasenative/"/>
        <source-file src="src/android/com/alexnu/firebasenative/FirebaseGoogleAuthPlugin.java" target-dir="src/com/alexnu/firebasenative/"/>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FirebaseDatabase">
                <param name="ios-package" value="FirebaseDatabasePlugin" />
            </feature>
            <feature name="FirebaseAuth">
                <param name="ios-package" value="FirebaseAuthPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/FirebaseDatabasePlugin.h" />
        <source-file src="src/ios/FirebaseDatabasePlugin.m" />
        <header-file src="src/ios/FirebaseAuthPlugin.h" />
        <source-file src="src/ios/FirebaseAuthPlugin.m" />

        <framework src="Firebase/Core" type="podspec" spec="~> 5.0"/>
        <framework src="Firebase/Auth" type="podspec" spec="~> 5.0"/>
        <framework src="Firebase/Database" type="podspec" spec="~> 5.0"/>
    </platform>

</plugin>
